*.cmake
CMakeCache.txt
x64/
CMakeFiles/
.vs/
*.dir/
*.exe
*.pdb
*.exp
*.lib
scratch/
.vscode/
*.ppm
*.ncu-rep
!cuda/build/MyRayTracer_CUDA.sln
!cuda/build/MyRayTracer_CUDA.vcxproj
!cuda/build/MyRayTracer_CUDA.vcxproj.filters
report/

